.wholePage{
    display:flex;
}

.left-side{
    width:10%;
    margin-top:7rem;
    margin-left: 6vw;
}

.banner{
    text-align: center;
    font-size: xx-large;
}

.right-side{
    margin-left: 1vw;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding-top: 0;
}

.title{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight:500;
    color: white;
    width:100%;
    padding-top: 2rem;
    padding-left: 30%;
}

#spot{
    width: 350px;
    height: 300px;
    background-color: white;
    overflow: hidden;
    margin:40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;

}

.name{
    position:absolute;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight:400;
    color: #D79D9C;
    margin-top: 19.5rem;

    
}
.list-group-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight:500;
}


.image{
    min-height: 100%;
    min-width: 100%;
object-fit: cover;
opacity: .9;
}

.image:hover
{
    height: 100%;
object-fit: cover;
opacity: 1;
color: white;
}

.infoGraphic{
    position:absolute;
    width:60%;
    height:40%;
    align-self: left;
    text-align: center;
justify-content: center;

    
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight:400;
    color: white;
 
    margin-top: 3rem;
    margin-left:0;
    border:solid;
    border-radius:40px;
    background-color: #A3B1A3;
    
    
 
}

.infoText{
    margin-top: 10%;
}
.btn{
    margin-left:0;
    margin-bottom:3px;
    
}