.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-color{   
  background-color: #EDD7D3;
  min-height: 100vh;
  }

  .subhead{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    color: #D79D9C;
  }

  button{
   background-color:#A3B1A3;
   padding: .4rem;
    
   color:white;
   font-family: 'Montserrat', sans-serif;
   
  border:none;
  border-radius: 40px;
  
  }

  .a{
    margin-bottom: 3px;
    
  }

  